*{
    margin: 0;
}
body{    
    background-color:darkgrey;
    font-family: sans-serif;
    font-size: 1em;
    color: midnightblue;
    
}
header{
    margin:4px;
    width: 27em;
    background-color:slategrey;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
    border-radius: 5px;

}
p{
    margin: 4px;
    width: 50em;
    background-color:rgb(84, 102, 136);
    color: rgb(189, 189, 189);
    text-shadow: 2px 2px rgba(47, 60, 75, 0.658);
    border-radius: 8px;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);

}
.titulo{
    color:rgb(39, 39, 78);
    text-shadow: 2px 2px #2f00ff8a;
}
.subtitulo{
    color: rgb(9, 9, 126);
    text-shadow: 2px 1px rgba(0, 0, 0, 0.445);
}
ul{
    margin: 1rem;
    width: 20em;
    height: 8em;
    background-color:rgb(123, 130, 143);
    color: rgb(189, 189, 189);
    text-shadow: 2px 2px rgba(62, 47, 75, 0.993);
    border-radius: 8px;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
}
ol{
    margin: 1rem;
    width: 20em;
    height: 8em;
    background-color:rgb(123, 130, 143);
    color: rgb(189, 189, 189);
    text-shadow: 2px 2px rgb(68, 47, 75);
    border-radius: 8px;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
}
li{
    color: rgb(37, 72, 88);
    text-shadow:1px 1px rgba(205, 43, 226, 0.233);
}
.imagem{
    height: 24em;
    background: white;
    border-radius: 1em;
    border: 8px solid rgba(55, 77, 138, 0.877);
    margin: 1rem;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
}
footer{
    margin: 4px;
    width:50em;
    background-color:rgb(136, 103, 158);
    color: rgb(16, 15, 92);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.322);
    border-radius: 8px;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
}
iframe{
    border-radius: 1em;
    border: 8px solid rgba(55, 77, 138, 0.877);
    margin: 5rem;

}
.imagens{
    background-color: rgb(100, 100, 100);
    border-radius: 1em;
    width: 51em;
    border: 2px solid rgba(55, 77, 138, 0.877);
    margin: 1rem;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
}

.texto{
    margin: 8px;
    width: 50em;
    background-color:rgb(84, 102, 136);
    color: rgb(189, 189, 189);
    text-shadow: 2px 2px rgba(47, 60, 75, 0.658);
    border-radius: 8px;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
}
